/* Global
----------------------------------------------- */

body { color:#333333; background-color:#E3E4E5; background-image:url(../images/backgroundUpdate.jpg); background-repeat:repeat-x; }

/* Structure Front
----------------------------------------------- */

#appBox { width:962px; margin:0px auto; margin-top:22px; }

#appTop { width:962px; height:8px; padding:0px; margin:0px; background-image:url('../images/appsTop.jpg');}

#appBoxMid { width:962px; height:225px; background-image:url('../images/appsMid.jpg'); }

#appBoxBot { width:962px; height:14px; background-image:url('../images/appsBot.jpg'); background-repeat:no-repeat; }

.appInd { text-align:center; padding:21px 0 0 0; cursor:pointer; }

.appTitle { padding:14px 0 8px 0; }

/* Structure Second Level
----------------------------------------------- */

#l2Box { width:961px; margin:0px auto; margin-top:22px; }

#l2BoxTop { width:961px; height:8px; padding:0px; margin:0px; background-image:url('../images/boxTop.jpg');}

#l2BoxMid { width:961px; background-image:url('../images/boxMid.jpg'); }

#l2BoxBot { width:961px; height:8px; background-image:url('../images/boxBot.jpg'); background-repeat:no-repeat; background-position:bottom; margin-bottom:36px; }

.productPrice { text-align:center; }


/* Buttons
----------------------------------------------- */

.buttoned { padding:9px 0 9px 0; display:block;}

.threeoptions { padding-left:10px;}

.twooptions { padding-left:39px;}

.buttonLeft { height:26px; width:11px; background-image:url(../images/button-left.png); float:left; }

.buttonMid { height:26px; width:5px; background-image:url(../images/button-center.png); float:left;}

.buttonRight { height:26px; width:30px; background-image:url(../images/button-right.png); float:left; }

.buttonText {height:23px; background-image:url(../images/button-background.png); padding:3px 0 0 0; float:left;}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  /* Retina-specific stuff here */
  .buttonLeft {
      background-image:url(../images/button-left@2x.png);
      background-size: 11px 26px;
      float:left;
  }

  .buttonMid {
      background-image:url(../images/button-center@2x.png);
      background-size: 5px 26px;
      float:left;
  }

  .buttonRight {
      background-image:url(../images/button-right@2x.png);
      background-size: 30px 26px;
      float: left;
  }

  .buttonText {
      background-image:url(../images/button-background@2x.png);
      background-size: 5px 26px;
      padding:3px 0 0 0;
      float:left;
  }
}

/* Type
----------------------------------------------- */

p { font-size:15px; line-height:16px; }

a { text-decoration:none; color:#00AEEF; }

a:hover { text-decoration:underline; color:#00AEEF; }

#globalNav a { color:#00AEEF; text-transform:uppercase; font-size:11px; text-decoration:none; font-weight:bold; }

#globalNav a:hover { color:#000; text-transform:uppercase; font-size:11px; text-decoration:none; font-weight:bold; }

.buttonText a { color:#fff; font-size:11px; font-weight:normal; text-decoration:none; margin: 0 4px 0 3px; }

.buttonText a:hover { color:#333333; font-size:11px; font-weight:normal; text-decoration:none; margin: 0 4px 0 3px; }

#appBox p { color:#797979; font-size:11px; padding:0; margin:0; border:0;  }

#appBox .appName { color:#000; font-weight:bold; font-size:16px; padding:14px 0 8px 0;}

.appPrice { display:block; color:#797979; font-size:13px;}

.appPriceBig { color:#797979; font-size:18px; font-weight:bold; margin:17px 0 0 0; padding:0; line-height:14px; text-align:center;}

.CompanyNewsHeader { 
    color:#A9A9AB; 
    font-size:24px; 
    text-transform:uppercase; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    padding:59px 0 18px 0;
}

#footer a { font-size:12px; text-decoration:none; color:#00AEEF; font-weight:bold; margin:18px 0 0 0; }

#footer a:hover { font-size:12px; text-decoration:underline; color:#00AEEF; font-weight:bold; margin:18px 0 0 0; background-color:#E3E4E5;}

.footLeft { width:400px; float:left;}

.footRight { color:#797979; font-size:12px; text-transform:uppercase; font-weight:bold;  float:left; }

.copied { color:#797979; font-size:10px; }

.columnListNav a { font-size:12px; text-decoration:none; color:#00AEEF; font-weight:bold; margin:2px 0 0 0; padding: 2px; }

.columnListNav a:hover { font-size:12px; text-decoration:underline; color:#00AEEF; font-weight:bold; margin:2px 0 0 0; padding:2px; }

#activeLink, #activeLink:hover { background:#C5E8FF; text-decoration:none; }

h1 {  font-size:22px; font-weight:bold; margin:17px 0 8px 0; padding:0; line-height:24px;}

#tagline h1 { color:#A9A9A9; font-size:15px; font-weight:bold; margin:-8px 0 8px 0; padding:0; }

h2 {  font-size:17px; font-weight:bold; margin:17px 0 8px 0; padding:0; line-height:24px;}

h3 { color:#A9A9A9; font-size:16px; font-weight:bold; margin:-8px 0 8px 0; padding:0; }

.refundDisclaimer {color:#A9A9A9; font-size:11px;}

#product a:hover {text-decoration:none;}

#product:hover { background: url(../images/product-hover.jpg) repeat-x bottom left; }

.quote { font-style: italic; font-size: 14px; line-height: 16px; padding-bottom: 10px; }

.quote-person { font-style: normal; margin-left:35px; display: block;}

#submenu { color: #797979; font-weight:bold; font-size:16px; padding:14px 0 8px 0;
	text-transform: uppercase;
}

#submenu .appName { font-size: 16px; padding:14px 0 8px 0;
	font-weight: normal;
	font-style: normal;
}

#onlineDocMenu { color: #797979; font-weight:normal; font-size:14px; padding:14px 0 0px 0;
	text-transform: uppercase;
}

.onlineDoc { margin: 0 0 24px 0; }

.onlineDoc h3 { color:#A9A9A9; text-transform: uppercase; font-size:13px; font-weight:bold; margin:0 0 0px 0; padding:0; }

.columnListDoc a { font-size:12px; text-decoration:none; color:#00AEEF; font-weight:bold; margin:2px 0 0 0; padding: 2px; }

.columnListDoc a:hover { font-size:12px; text-decoration:underline; color:#00AEEF; font-weight:bold; margin:2px 0 0 0; padding:2px; }

.flash { color:red; }

/* Lists
----------------------------------------------- */

#globalNav ul { list-style-type:none; padding:0; margin:23px 0 0 0; border:0; }

#globalNav li { list-style-type:none; display:inline;  padding:0 25px 0 0; margin:0; border:0; }

#globalNav a {font-size:12px;}

#globalNav a:hover {font-size:12px;}

.columnListNav { list-style-type:none; padding:0; margin:0px 0 24px 0; border:0; }

.columnListNav li  { list-style-type:none; padding:0; margin:0; border:0; }

.prodList { padding:0; margin:0 0 24px 0; border:0; }

.prodList li  {  padding:0 0 6px 0; margin:0 15px; border:0; font-size:12px; line-height:16px; }

.columnListDoc { list-style-type:none; padding:0; margin:0px 0 6px 0; border:0; }

.columnListDoc li  { list-style-type:none; padding:0; margin:0; border:0; }

/* Images
----------------------------------------------- */

#headerImg { padding:36px 0 0 0; height: 49px;}

#companyNewsImg { padding:42px 0 18px 0; }

#moreInfoImg { padding:58px 0 34px 0; }

.columnHeader { padding:17px 0 18px 0; }

.sixtyImg { margin:0 0 36px 0; }

/*#appIconImg { padding:17px 0px 18px 8px; }*/

#appIconImg {
    width: 94px;
    height: 94px;
    padding:17px 0px 18px 8px;
}

#large60days { padding:25px 0 0 0; }

/* Forms
----------------------------------------------- */

/* Misc
----------------------------------------------- */

