---
layout: layout
---

{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
  <article>
    {% include article.html %}
  </article>
{% endfor %}


<!--Pagination-->
<div class="text-center">
    <ul class="pagination">
      {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-caret-left"></i> Older Posts</a>
      </li>
      {% endif %}
      <li><a href="/blog/archives">Blog Archives</a></li>
      {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer Posts <i class="fa fa-caret-right"></i></a></li>
      {% endif %}
    </ul>
</div>
<!--End Pagination-->
