<!--=== Footer ===-->
<div class='footer-v1' id='footer-v1'>
  <div class='footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-4 md-margin-bottom-40'>
          <div class='headline'>
            <h2 data-drip-attribute='headline'>Newsletter</h2>
          </div>
          <p data-drip-attribute='description'>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
          <form action='https://www.getdrip.com/forms/1196122/submissions' class='footer-subsribe' data-drip-embedded-form='1196122' id='formNewsletter' method='post'>
            <div class='input-group'>
              <input class='form-control' name='fields[email]' placeholder='Email Address' type='email'>
              <span class='input-group-btn'>
                <button class='btn-u' data-drip-attribute='sign-up-button' form='formNewsletter' type='submit' value='Subscribe'>Subscribe</button>
              </span>
            </div>
          </form>
        </div>
        <div class='col-md-4 md-margin-bottom-40'>
          <!-- .posts -->
          <!-- .headline -->
          <!-- %h2 Company News -->
          <!-- %ul.list-unstyled.link-list -->
          <!-- %li -->
          <!-- = link_to('ANN: Killink\'s Retirement', '/') -->
          <!-- %i.fa.fa-angle-right -->
          <!-- %li -->
          <!-- = link_to('ANN: Peak App Care', '/') -->
          <!-- %i.fa.fa-angle-right -->
          <!-- %li -->
          <!-- = link_to('ANN: Cross Post v1.2 is in the App Store', '/') -->
          <!-- %i.fa.fa-angle-right -->
          <!-- %li -->
          <!-- = link_to('More White Peak News...', '/') -->
          <!-- %i.fa.fa-angle-right -->
        </div>
        <div class='col-md-4 md-margin-bottom-40'>
          <div class='headline'>
            <h2>More Info</h2>
          </div>
          <ul class='list-unstyled link-list'>
            <li><a href="http://www.whitepeaksoftware.com/about">About Us</a></li>
            <li><a href="http://www.whitepeaksoftware.com/contact">Contact Us</a></li>
            <li><a href="http://www.whitepeaksoftware.com/retiredproducts">Retired Products</a></li>
            <li><a href="http://www.whitepeaksoftware.com/privacypolicy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='copyright'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-9'>
          <p>Copyright &copy; 2003-2015 White Peak Software, Inc. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=== End Footer ===-->

