{% if site.twitter_user %}
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: {{site.twitter_tweet_count}},
  interval: 30000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#e9eaea',
      color: '#333333'
    },
    tweets: {
      background: '#f5f6f6',
      color: '#333333',
      links: '#00AEEF'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('{{site.twitter_user}}').start();
</script>{% endif %}
