---
layout: layout960
---

<!-- Begin L2 Box -->
<div id="l2Box">
   <div id="l2BoxTop"></div>
   <div id="l2BoxMid">
      <div class="container_16" id="appsRow1">
          <div class="grid_11 suffix_1">
              {{ content }}
          </div>
          <div class="grid_4">
              {% include recent_posts.html %}
              {% include category_list.html %}
              {% include twitter.html %}
          </div>
          <div class="clear">&nbsp;</div>
      </div>
   </div>
   <div class="clear">&nbsp;</div>
   <div id="l2BoxBot"></div>
</div>
<!-- End L2 Box -->
